doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header Ik ben een < header > uit de layout.jade, gerendered vanuit de hoofd app

        block content

        footer Ik ben een < footer > uit de layout.jade, gerendered vanuit de hoofd app
